div.alignimage{
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
p{
    text-align: center;
    padding: 12px 24px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    object-fit: cover;
}
h1{
    text-align: center ;
    background-color: #66c3c1;
}