
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #00bcd4;
    height: 400px;
    font-weight: bold;
    color: green;
    padding: 20px;
    margin: 25px;
}

.sara {
    padding: 8px 16px 8px 14px;
    margin: 32px;
}

.tara {
    padding: 12px 24px;
    background-color: #4CAF50;
    width: 50 vw;
}